.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f0efeb;
  align-items: center;
  border-radius: 12px;
  gap: 0.5rem;

  &:hover {
    color: white;
    background-color: #9a8c98;
    cursor: pointer;
  }

  img {
    width: 350px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }
}
