.headerWrapper {
  background-color: #f0efeb;

  .arrowHeaderWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    .backArrow {
      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    .headerTitle {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
